#about {
  display: flex;
  font-family: "Unna", serif;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
}

#about-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Unna", serif;
}
