button {
  border-style: none;
}

#cart {
  color: black;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcf9f3;
}
#cart input {
  text-align: center;
  /* width: 3rem; */
  margin: 0 0.3rem;
  /* border: 1px solid rgba(116, 116, 12, 0.678); */
}

#cart h1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: underline;
  color: black;
}

#cart-items {
  margin: 1rem auto;
  display: flex;
}

#cart img {
  height: 10rem;
  border: 1px solid black;
  border-radius: 12px;
}

#cart-wrapper {
  width: 40%;
}

#cart-wrapper > h1 {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 400;
}
#cart-details {
  color: black;
  justify-content: space-between;
  width: 75%;
  font-weight: 400;
  font-size: 1.3rem;
}

#cart-details > div:nth-child(1) {
  margin: 0 2rem;
}
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}

button.remove {
  background-color: rgb(5, 100, 5);
  color: #fcf9f3;
  font-size: 1.1rem;
}

button.remove:hover {
  color: white;
  text-decoration: underline;
}
span:hover {
  cursor: default;
}
.subtotal {
  padding: 1rem;
}
.subtotal span {
  font-size: 1.5rem;
  font-weight: 400;
}
.subtotal span:nth-child(2) {
  margin: 0 2rem;
}
.checkout {
  text-align: center;
  margin: 0.5rem;
}

.checkout button {
  background-color: #fcf9f3;
  height: 2.5rem;
  font-size: 1.1rem;
  width: 90%;
}

.checkout button:hover {
  background-color: white;
}

#shipping-form {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
}

#form-input {
  margin: 0 1rem;
  font-size: 20px;
  width: 30rem;
}
