.filter-form {
  font-family: 'Unna', serif;
  width: 18rem;
  margin-left: 3rem;
  padding-left: 2rem;
  font-size: medium;
}

.filter-form h1 {
  font-size: 2rem;
}
.div-row {
  display: flex;
  flex: wrap;
}

.filterDiv {
  width: 17rem;
  margin-right: 0;
  padding-right: 0;
  border: 0;
  text-align: left;
}
.filterDiv h3 {
  font-size: 1.3rem;
}
.filter-label {
  font-size: 1.2rem;
  align-items: center;
  display: flex;
  padding: 0.1rem;
}
