#navbar {
  font-family: 'Unna', serif;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  align-items: center;
  color: white;
}

#nav-links a:hover {
  color: rgb(189, 186, 186);
}
#nav-links img {
  margin-top: 0.5rem;
}

nav a:visited,
#navbar {
  color: white;
}
#navbar h1 {
  font-size: 2.8rem;
  font-family: 'Unna';
  letter-spacing: 0.1rem;
}
#home {
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}
a.cart {
  margin-right: 2px;
  text-decoration: none;
}

#cartImg {
  margin-right: 5px;
}

span.total {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  font-size: 0.9rem;
}
