/* #navbar {
  display: inline-block;
} */

#navbar {
  display: flex;
  align-items: center;
  margin-right: 5rem;
  font-size: 1.2rem;
  justify-content: space-between;
  color: #224229;
}

#nav-links {
  display: flex;
}

nav a {
  text-decoration: none;
}
