#orders {
  margin: 0 auto;
  width: 40vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
ul {
  width: inherit;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#single-past-order table {
  width: 70vw;
}
#single-order {
  font-size: 1.1rem;
  text-align: left;
  padding: 0.4rem;
  width: inherit;
  justify-content: space-between;
  display: flex;
}

#single-past-order td {
  text-align: center;
}

#single-order button {
  width: 8rem;
}
#orders button {
  margin-top: 2rem;
}
#single-past-order img {
  height: 5rem;
  width: 5rem;
}
#single-past-order {
  text-align: center;
}
#plants {
  margin-bottom: 2rem;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

#plants div.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
