#orders {
  margin: 0 auto;
  width: 40vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
ul {
  width: inherit;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#single-past-order table {
  width: 70vw;
}
#single-order {
  font-size: 1.1rem;
  text-align: left;
  padding: 0.4rem;
  width: inherit;
  justify-content: space-between;
  display: flex;
}

#single-past-order td {
  text-align: center;
  font-size: 1.1rem;
}

#single-past-order th {
  font-size: 1.2rem;
}
#single-order button {
  width: 8rem;
}
#orders button {
  margin-top: 2rem;
}
#single-past-order img {
  height: 5rem;
  width: 5rem;
}
#single-past-order {
  margin: 3rem auto;
  border: 1px solid black;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  border-radius: 12px;
  padding: 2rem;
}
#plants {
  width: 20rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  display: flex;
}
#plants img {
  margin: 0.2rem;
}
#plants div.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
