#add-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button button {
  transition-duration: 0.04s;
  color: rgb(76, 173, 76);
}

#add-button button:hover {
  color: black;
  background-color: rgb(76, 173, 76);
  border: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  outline: black;
}

table {
  width: 100vw;
  margin: 1rem auto;
  table-layout: fixed;
  white-space: nowrap;
}

td {
  overflow: scroll;
  margin: 0 1rem;
  white-space: nowrap;
}

th.name {
  width: 8%;
}
th {
  font-size: 1rem;
  margin: 1rem;
}
th.description {
  width: 15%;
  margin: 0 1rem;
}

table.users {
  width: 70vw;
}

#admin-db {
  text-align: center;
}
#admin-db button {
  padding: 0.5rem;
  color: white;
  background-color: rgb(148, 28, 28);
  border-style: none;
}

td.filter,
td.inventory,
td.price {
  text-align: center;
}

th span {
  font-size: 0.7rem;
}

td.email {
  text-align: left;
}

#add-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-button button {
  transition-duration: 0.04s;
  color: rgb(76, 173, 76);
}

#add-button button:hover {
  color: black;
  background-color: rgb(76, 173, 76);
  border: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  outline: black;
}
