table {
  width: 100vw;
  margin: 0 auto;
  table-layout: fixed;
  white-space: nowrap;
}

td {
  text-align: left;
  overflow: scroll;
  text-overflow: scroll;
  margin: 0 1rem;
  white-space: nowrap;
}

th.name {
  width: 8%;
}
th {
  font-size: 1rem;
  margin: 1rem;
}
th.description {
  width: 15%;
  margin: 0 1rem;
}

table.users {
  width: 70vw;
}

#admin-db {
  text-align: center;
}
#admin-db button {
  padding: 0.5rem;
  color: white;
  background-color: rgb(148, 28, 28);
  border-style: none;
}

td.filter,
td.inventory,
td.price,
td.id,
td.status {
  text-align: center;
}

th span {
  font-size: 0.7rem;
}
