#single-plant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#plant-div {
  margin: 2rem;
}

#plant-div {
  display: flex;
  justify-content: space-between;
}

/* a,
a:visited {
  color: black;
} */
